<div class="container" *ngIf="currentBlog">
  <div class="row" style="text-align:left">
    <div class="col-md-12">
      <form #createBlogForm="ngForm" (ngSubmit)="editThisBlog()">
        <div class="form-group">
          <label>Blog Title</label><br>
          <input type="text" name="blogTitle" [(ngModel)]="currentBlog.title" #title="ngModel" required>
        </div>
        <div [hidden]="title.valid||title.pristine" class="alert alert-danger">Blog Title is required</div>
        <div class="form-group">
          <label>Blog Description</label><br>
          <input type="text" name="blogDescription" [(ngModel)]="currentBlog.description" #description="ngModel" required>
        </div>
        <div class="form-group">
          <label>Blog Body</label><br>
          <textarea name="bodyHtml" [(ngModel)]="currentBlog.bodyHtml" #body="ngModel" required></textarea>
        </div>
        <div class="form-group">
          <label>Blog Category</label><br>
          <select name="blogCategory" [(ngModel)]="currentBlog.category" #category="ngModel" class="form-control" id="category" required>
            <option *ngFor= "let category of possibleBlogCategories" [value]="category">{{category}}</option>
          </select>
        </div>
        <button type="submit" [disabled]=!createBlogForm.valid class="btn btn-primary">Save</button>
      </form>
    </div>
  </div>
</div>